body {
	margin: 0;
	padding: 0 1rem;
	background-color: #FFFFFF;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	/* border-top: 2px solid #2A4F6F; */
	margin-top: 2rem;
}
#header {
	border-top: 1px solid #778899;
	border-bottom: 1px dotted #B2BCC6;
	height:3em;
}
#header .slogan {
	font: 120% Georgia, "Times New Roman", Times, serif;
	color: #778899;
	background-color: transparent;
	float: right;
	width: 300px;
	text-align:right;
	margin-right: 2em;
	margin-top: 0.5em;
}
#header .logo {
	float: left;
	width: 187px;
	margin-left: 1.5em;
	margin-top: 0.5em;
}
#nav {
	position: absolute;
	top: 5em;
	left: 1em;
	width: 14em;
}
#nav ul {
	list-style: none;
	margin-left: 1em;
	padding-left: 0;
}
#nav li {
	font-size: 90%;
	border-bottom: 1px dotted #B2BCC6;
	margin-bottom: 0.3em;
}
#nav a:link, #nav a:visited {
	text-decoration: none;
	color: #2A4F6F;
	background-color: transparent;
}
#nav a:hover {
	color: #778899;
}
#nav h2 {
	font: 110% Georgia, "Times New Roman", Times, serif;
	color: #2A4F6F;
	background-color: transparent;
	border-bottom: 1px dotted #cccccc;
}
#content {
	margin-left: 16em;
	margin-right: 2em;
	text-align: justify;
}
h1 {
	font: 150% Georgia, "Times New Roman", Times, serif;
}
blockquote {
	font: 70% Georgia, "Times New Roman", Times, serif;
	text-align: right;
}
h3 {
	font: 120% Georgia, "Times New Roman", Times, serif;
}
ol li {
	font-size: 90%;
	
}
#content p, form {
	font-size: 90%;
	line-height: 1.6em; 
	padding-left: 1.2em;
}
#footer{
	clear: both;
	text-align: center;
	border-top: 1px dotted #B2BCC6;
	margin-top: 10px;
	font: 90% Georgia, "Times New Roman", Times, serif;
	color: #2A4F6F;
	background-color: transparent;
} 

/* custom */

/* -------------------------- */


/* sax.php */
.table-sax {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #ffd300;
	font-size: 15px;
	background: #fff!important;
}
.table-sax th {
	font-weight: bold;
	padding: 7px;
	background: #ffd300;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #ffd300;
}
.table-sax td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
.table-sax tbody tr:nth-child(even){
	background: #f8f8f8!important;
}


/* dom.php */

.table-dom {
	width: 100%;
	margin-bottom: 20px;
	border: 15px solid #F2F8F8;
	border-top: 5px solid #F2F8F8;
	border-collapse: collapse; 
}
.table-dom th {
	font-weight: bold;
	padding: 5px;
	background: #F2F8F8;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}
.table-dom td {
	padding: 5px;
	border: none;
	border-bottom: 5px solid #F2F8F8;
}


/* simple.php */

.table-simple {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table-simple thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.table-simple tbody td {
	text-align: left;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table-simple thead tr th:first-child, .table-simple tbody tr td:first-child {
	border-left: none;
}
.table-simple thead tr th:last-child, .table-simple tbody tr td:last-child {
	border-right: none;
}
.table-simple tbody tr:nth-child(even){
	background: #f3f3f3;
}


/* xmlreader */


.table-xmlreader {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #f72b07;
	font-size: 15px;
	background: #fff!important;
}
.table-xmlreader th {
	font-weight: bold;
	padding: 7px;
	background: #f72b07;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #f72b07;
}

.table-xmlreader td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background: #b9b8b8;
	font-size: 15px;
}
.table-xmlreader tbody tr:nth-child(even){
	background: #f8f8f8!important;
}


/* xmlwriter */


.table-xmlwriter {
	width: 100%;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid #f72b07;
	font-size: 15px;
	background: #fff!important;
}
.table-xmlwriter th {
	font-weight: bold;
	padding: 7px;
	background: #0fee5a;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #00ff15;
}

.table-xmlwriter td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background: #b9b8b8;
	font-size: 15px;
}
.table-xmlwriter tbody tr:nth-child(even){
	background: #f8f8f8!important;
}
